@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Croissant+One&family=Merriweather:ital@1&family=Oswald:wght@300;400;500;600&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Croissant+One&family=Merriweather:ital@1&family=Oswald:wght@300;400;500;600&family=Pacifico&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Cinzel:wght@600&family=Croissant+One&family=DM+Serif+Display&family=Merriweather:ital@1&family=Oswald:wght@300;400;500;600&family=Pacifico&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Cinzel:wght@600&family=Croissant+One&family=DM+Serif+Display&family=Merriweather:ital@1&family=Oswald:wght@300;400;500;600&family=Pacifico&family=Protest+Strike&family=Roboto+Condensed:wght@700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --header-color-1:#1D1E1B;
    --header-color-2:#FFFBFC;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    min-height: 120vh;
    position: relative;
    background: var(--header-color-2);
}

/* HEADER */

.keen-slider{
    height: 90%;
    padding: 10%;
  }
  
.keen-slider__slide{
    width: inherit;
    height: 100%;
    /* min-height: 5px;
    max-height: 5px; */
    /* background-color: #1D1E1B; */
    /* border: 1px solid red; */
}


  
  [class^="number-slide"],
  [class*=" number-slide"] {
    /* background: #565756; */
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    /* border-radius: 5%; */
    
   
  }
  

.head_slide_img{
    min-width: 100%;
    min-height: 100%;
    border-radius: 5%;
}
 
  
  


/* TOGGLE */
.toggle{
    width: 5%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    cursor: pointer;
    /* padding: 1%; */
   
    
}
.toggle::before{
    content: '';
    width: 60%;
    height: 2%;
    background-color: black;
    /* box-shadow: 2px 15px 0px white; */
    transform: translateY(5px);
    transition: 0.5s ease;
    
    
}


.toggle::after{
    content: '';
    width: 60%;
    height: 2%;
    background-color: black;
    transform: translateY(25px);
    transition: 0.5s ease;
}
.toggle hr{
    width: 80%;
    height: 2%;
    transform: translateY(15px);
    transition: 0.5s ease;
    background-color: var(--header-color-1);
}
.toggle.active::before{
    transform: translateY(15px) rotate(-45deg);
    width: 80%;

}
.toggle.active::after{
    transform: translateY(15px) rotate(45deg);
    width: 80%;
}
.toggle.active hr{
    display: none;
}

/* MENU */
.menu{
    width: 40%;
    height: 90vh;
    background-color: var(--header-color-1);
    position: fixed;
    top: 10vh;
    left: -45%;
    border-bottom-right-radius: 0%;
     border-top-right-radius: 20%; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
    transition: 1s ease;
    clip-path: circle(200px at 90% -10%);
    /* box-shadow: 0px 1px 1px 1px rgb(87, 87, 87); */
    opacity: 1;
    z-index: 100;
}



.menu.active{
    left: 0;
    clip-path: circle(800px at 90% -10%);
}
.menu li{
    list-style: none;
    font-family: 'Croissant One', serif;
    font-size: 30px;
    display: inline-block;
    color: white;
    transition: 0.5s ease;
    /* border: 1px solid red; */
    width: 40%;
    text-align: center;
    cursor: pointer;
    /* padding: 5%; */
}
.menu li:hover{
    transform: scale(1.5);
}



/* SVG */
.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* height: 30%; */
    /* transform: rotate(180deg); */
    /* background-color: black; */
    /* box-shadow: none; */
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
}
.wave1 .shape-fill {
    fill: var(--header-color-2);
}



.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* background-color: white; */
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 150px;
}

.wave2 .shape-fill {
    fill: white;
}